/* hoja de estilo de pagina principal */
header {
    /* background-color: #fff;
    border-bottom: 2px solid #f5a623; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  /* logo */
  .logo img {
    height: 50px;
  }
  /* menu del nav */
  nav ul {
    list-style: none;
    display: flex;
  }
  /* opciones del nav */
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  /* color hover */
  nav ul li a:hover {
    color: #f5a623;
  }
footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contacto {
    text-align: center;
    margin: 0 50px;
  }
  
  .contacto p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }
  
  /* hay que centrar iconos de redes */
  .redes a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-size: 15px;

  }
  
  .redes a:hover {
    color: #f5a623;
  }
  
  .fas, .fab {
    margin-right: 10px;
  }

