/* fuente principal */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{

  --main-color : #e4002b;
  --back-color : #e7e6f7;
  --primary-font : 'Quicksand', sans-serif;
  --second-font :'Lato', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);

}

/*-----------------------------------------------------------------------------------------*/

body{
  background-image: url("../img/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
  background-blend-mode: multiply; /* mezcla la imagen de fondo con el color de fondo */
  background-color:var(--main-color); /* establece un color de fondo semi-transparente */
}

/*header*/

header {
    /* border-bottom: 2px solid var(--main-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #e7e6f7;
    
  }

  /* logo */
  img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  .logo{
    animation: heartbeat 1s infinite;
  }

  /* efecto latido en logo */
  @keyframes heartbeat {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }

/*-----------------------------------------------------------------*/

/*nav */

  nav {
    width: 0px;
    height: 50px;
  }


  .navbar-nav{
    margin-left: 140vh;
  }

  .nav-link, .dropdown-item{
    font-size: 17px;
  }

  .nav-link:hover {
    color: var(--main-color);
  }
  
  .dropdown-item:hover{
    color: var(--main-color);
  }
  
/*-----------------------------------------------------------------------------*/

/*intro.html*/

  /*tarjetas planes*/

.title-planes{
  text-align: center;
  color: var(--back-color);
  margin-top: 20px;
  
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  
}


.card {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 20px;

}

.card:hover{
  width: 600px;
  height: 600px;
}


.text-oculto {
  /* no se muestra, solo en :hover */
  display: none;
  text-align: center;
 font-size: 20px;
 color: #333;

}

.card:hover .text-oculto {
  display: block;
}

/* titulos de tarjetas */
.card h2 {
  font-size: 45px;
  color: #333;
  font-weight:200;
}

/* precio */
.price {
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 20px;
}

ul {
  list-style:none;
  padding: 0;
  margin-bottom: 20px;
}

/* listado de beneficios */
li {
  font-size: 15px;
  line-height: 1.5;
  color: #222f3e;
  padding: 5px 0;
}

/* botones de tarjeta */
.card .btn-card {
  background-color: var(--main-color);
  color: var(--back-color);
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-card:hover {
  background-color: var(--back-color);
  color: var(--main-color);
}

main{
  height: 90vh;
  width: 100%;
}

/*----------------------------------------------*/
/*form.html*/
/* formulario */

.form-title{
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#contact{
  background-color: rgba(255, 255, 255, 0.518) ;
  /* border-radius: 20px; */
  color: #1e272e;
  width: 90vh;
}

.form-control, .form-select{
  border:1px solid #1e272e;
}

.form-label{
  font-size: medium;
}

span{
  font-style: italic;
  font-size: small;
}

/*mensaje de error*/
.error{
  color: var(--main-color);
}

/*-------------------------------------------*/

/* footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color:var(--back-color);
    /* background-color: var(--back-color); */
    border-top: 5px solid var(--back-color);
    position:relative;
    

  }

  .contacto {
    text-align:center;
    margin: 0 50px;
  }

  #email{
    color: var(--back-color);
  }
  
  .contacto span {
    /* margin: 0; */
    font-size: 15px;
    line-height: 1.5;
  }

  div .copy{
    font-size: small;
  }

.redes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin: 5px; */
}

  .redes a {
    /* margin-right: 10px; */
    color:var(--back-color);
    text-decoration: none;
    /* font-size: 15px; */
    
  }

  .redes a:hover {
    color: var(--main-color);
  }

  .redes .social-icon-link img{
    width: 20px;
    height: 20px;
  }

/*-------------------------------------------*/

/*sucursales.html*/

/*sucursales*/

.gallery-sucur {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10vh;
  padding: 40px;
}

iframe {
  width: 300px;
  height: 250px;
  border: none;
  
}

.titl-sucursal{
  text-align: center;
  margin-top: 100px;
  color: var(--back-color);
}

.map-container{
position: relative;

}

.map-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  background-color: rgba(0, 0, 0, 0.496);
  color: #fff;
  padding: 30px;
  width: 300px;
  height: 250px;
  font-size: 25px;
}

.map-container:hover .map-overlay {
  display: block;
}

/*------------------------------------------*/

/*nos.html*/

.title-nos h1{
  text-align: center;
  color: var(--back-color);
  margin-top: 20px;
}

.container-nos{
  display: flex;
  justify-content: center;
}

.profiles{
 height: 500px;
 width: 350px;
 background-color: var(--back-color);
 margin: 5px;
 border-radius: 30px;

 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}

.profiles .card-img{

  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 30px;
  

}

.card-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.card-body h4{
  text-align: center;
  color: #333;


}

/* Cambia el color de la barra de scroll */

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--back-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}







