/* fuente principal */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root{

  --main-color : #e4002b;
  --back-color : #fff;
  --primary-font : 'Quicksand', sans-serif;
  --second-font :'Lato', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--primary-font)
}
/* hoja de estilo de pagina principal */
/* header */
header {
    /* background-color: var(--back-color); */
    border-bottom: 2px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: radial-gradient(circle at 50% -20.71%, #97bdff 0, #3c78f2 50%, #003886 100%);
    
  }
  /* logo */
  img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  /* menu del nav */

  nav {
    background-image: radial-gradient(circle at 50% -20.71%, #97bdff 0, #3c78f2 50%, #003886 100%);
    width: 0px;
    height: 50px;
  }

  nav ul {
    list-style: none;
    display: flex;

  }
  /* opciones del nav */
  nav ul li {
    margin-right: 20px;
    
  }
  
  nav ul li:last-child {
    margin-right: 0;
    
  }
  
  nav ul li a {
    color: var(--back-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  /* color hover */
  nav ul li a:hover {
    color: var(--main-color);
  }

  /*-estilo de tarjetas*/

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}
/*estilo de las tarjetas*/

.card {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin: 20px;
}
/* titulos de tarjetas */
.card h2 {
  font-size: 45px;
  color: #333;
  font-weight:200;
}

/* precio */
.price {
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 20px;
}

ul {
  list-style:none;
  padding: 0;
  margin-bottom: 20px;
}

/* listado de beneficios */
li {
  font-size: 15px;
  line-height: 1.5;
  color: #222f3e;
  padding: 5px 0;
}

/* botones de tarjeta */
.card .btn-card {
  background-color: var(--main-color);
  color: var(--back-color);
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-card:hover {
  background-color: var(--back-color);
  color: var(--main-color);
}

main{
  height: 90vh;
  width: 100%;
}


/* formulario */

.form-title{
  text-align: center;
  color: #333;
  margin-top: 10px;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#contact{
  /* background-color: var(--main-color) ; */
  /* border-radius: 20px; */
  color: #1e272e;
  width: 90vh;
}

.form-control, .form-select{
  border:1px solid #1e272e;
}

.form-label{
  font-size: medium;
}

span{
  font-style: italic;
  font-size: small;
}

/*mensaje de error*/
.error{
  color: var(--main-color);
}

/* footer */
footer {
    position:inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--back-color);
    text-align: center;
    background-image: radial-gradient(circle at 50% -20.71%, #97bdff 0, #3c78f2 50%, #003886 100%);
  }

  
  .contacto {
    text-align:center;
    margin: 0 50px;

  }
  
  .contacto span {
    /* margin: 0; */
    font-size: 14px;
    line-height: 1.5;
  }

  div .copy{
    font-size: small;
  }


  /* hay que centrar iconos de redes */
  .redes a {
    /* margin-right: 10px; */
    color: #333;
    text-decoration: none;
    font-size: 15px;

  }

  
  .redes a:hover {
    color: var(--main-color);
  }
  
  .fas, .fab {
    margin-right: 10px;
  }

/* estilo pagina nosotros*/

.container-nos {

  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
}

/*sucursales*/

.gallery-sucur {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10vh;
  padding: 40px;
}

iframe {
  width: 250px;
  height: 200px;
  border: none;
}

.titl-sucursal{
  text-align: center;
  margin-top: 10px;
}

.map-container{
position: relative;
}

.map-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  background-color: rgba(0, 0, 0, 0.564);
  color: #fff;
  padding: 30px;
}

.map-container:hover .map-overlay {
  display: block;
}

/*-----------*/

